{% extends "base.html" %}
{% block nav %}{% endblock %}

    {% load staticfiles %}
{% block content %}
<div class="row" id="fullResults">
{% if album_tracks %}
<div class="col-sm-12 col-md-6" id="resultImage" style="max-height:480px;margin-bottom:30px;background: url('static/media/{{ photo }}') center 30% transparent;background-size: cover; " />
{% if tags %}<ul class="tags">
    {% for tag in tags %}
<li>{{ tag }}</li>

    {% endfor %}
    </ul>
    {% endif %}

{% else %}
<div class="col-sm-12 col-md-6" id="preResultImage">
{% if form %}
    <form method="post" action="." enctype="multipart/form-data" class="form" >
        {% csrf_token %}
        <div class="fieldWrapper">
            {{ form.message.errors }}
           <!-- <label for="id_image">Image:</label>-->
            {{ form.image }}
        </div>
        <input type="submit" value="Upload">
    </form>
{% endif %}

</div>
{% endif %}
</div>
<div class="col-sm-12 col-md-6" id="resultTracks">
    <div class="row" id="individualResults">
        {% for a_track in album_tracks %}
            {% if a_track.id %}
                <div class="col-sm-12 singleTrack">
                <iframe id="sc-widget" width="100%" height="100" scrolling="no"
                    frameborder="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F{{  a_track.id }}&show_artwork=true&show_comments=true"></iframe>
                <script src="https://w.soundcloud.com/player/api.js" type="text/javascript"></script>
                <script type="text/javascript">
                  (function(){
                    var widgetIframe = document.getElementById('sc-widget'),
                        widget       = SC.Widget(widgetIframe),
                        newSoundUrl = 'http://api.soundcloud.com/tracks/{{  a_track.id }}';

                    widget.bind(SC.Widget.Events.READY, function() {
                      // load new widget
                      widget.bind(SC.Widget.Events.FINISH, function() {
                        widget.load(newSoundUrl, {
                          show_artwork: false,
                          show_comments: false,
                        });
                       });
                    });
                }());
            </script>

                </div>

            {% endif %}
        {% endfor %}

    </div>
</div>

</div>



    {% endblock %}

    {% block subnav %}
    {% endblock %}


